:root {
  --h2wratio: 0.25; /* Height to width ratio of the linear keyboard */
  --white-keys-per-2-octaves: 14;
  --white-key-width: calc(100% / var(--white-keys-per-2-octaves));
  --black-key-width: calc(var(--white-key-width) * 0.7);
  --keyboard-padding: 5px;
}

.keyboardlinear {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--keyboardlinear-max-width);
  max-height: 100%;
  aspect-ratio: calc(1 / var(--h2wratio));
  padding: var(--keyboard-padding);
  container-type: inline-size;
}

/* Handle layout and sizing */
.piano-key {
  position: absolute;
  box-sizing: border-box;
  width: var(--white-key-width);
  height: 100%;
  border: 1px solid theme("colors.keys.borderColor"); /*TODO make this irrelevant*/
  z-index: 1;
}

.piano-key.short {
  width: var(--black-key-width);
  height: 60%;

  transform: translateX(-50%);
  z-index: 2;
}

/* Container queries with proportional scaling */
@container (min-width: 300px) {
  .piano-key {
    font-size: 1rem;
  }
  .piano-key.short {
    font-size: 0.7rem; /* 70% of normal keys */
  }
}

@container (min-width: 600px) {
  .piano-key {
    font-size: 2rem;
  }
  .piano-key.short {
    font-size: 1.4rem; /* 70% of normal keys */
  }
}

@container (min-width: 900px) {
  .piano-key {
    font-size: 3rem;
  }
  .piano-key.short {
    font-size: 2.1rem; /* 70% of normal keys */
  }
}

.keyboard-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
