/* Container Layout */
.svg-container {
  /* Display and Box Model */
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  padding: 5px;

  /* Grid Item */
  grid-area: circular-keyboard;
  justify-self: center;
  align-self: center;

  /* Flex Container */
  justify-content: center;
  align-items: center;
}

/* Pie Slice Keys */
.pie-slice-key {
  cursor: pointer; /*only here the class is note empty*/
  /*transition: all 0.3s ease; */
}

.pie-slice-key path {
  stroke: grey;
  stroke-width: 1px;
  border: 1px solid var(--serenity-key-border-color);
}

/* Hover State */
.pie-slice-key:hover path {
  opacity: 0.8;
}

/* Text Styles */
.pie-slice-key text {
  font-size: 1rem;
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
  pointer-events: none;
  fill: var(--serenity-note-text-on-white);
}

.pie-slice-key.white text {
  fill: var(--serenity-note-text-on-white);
}

.pie-slice-key.black text {
  fill: var(--serenity-note-text-on-black);
}
