:root {
  --h2wratio: 0.25; /* Height to width ratio of the linear keyboard */
  --white-keys-per-2-octaves: 14;
  --white-key-width: calc(100% / var(--white-keys-per-2-octaves));
  --black-key-width: calc(var(--white-key-width) * 0.7);
  --keyboard-padding: 5px;
}

.keyboardlinear {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--keyboardlinear-max-width);
  max-height: 100%;
  aspect-ratio: calc(1 / var(--h2wratio));
  padding: var(--keyboard-padding);
}

.keyboard-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.piano-key {
  position: absolute;
  box-sizing: border-box;
  width: var(--white-key-width);
  height: 100%;
  padding: 0 5px; /* Added padding to center the text */
  border: 1px solid theme("colors.keys.borderColor");

  display: flex;
  align-items: flex-end;
  justify-content: center;

  font-size: 0.8rem;
  font-weight: bold;

  cursor: pointer;
  z-index: 1;
}

.piano-key.short {
  align-items: center;
  /*border: 2px solid theme("colors.keys.borderColor");*/
  font-size: 0.8rem;
  width: var(--black-key-width);
  height: 60%;

  justify-content: center;
  opacity: 1;
  transform: translateX(-50%);

  z-index: 2;
}

/*
.piano-key.root-note {
  border: 2px solid theme("colors.keys.borderRootNote");
}
*/
